<br><br>
<h3>{{viewTitle}}</h3>
<h3 style="color: red;">{{viewTitleErr}}</h3>
<br>
<form action="/patientRegistration" method="POST">
<input type="hidden" name="_id" value="{{patient._id}}">
{{!-- patient full name --}}
  <div class="form-group">
    <label for="exampleInputEmail1">Patient Full Name</label>
    <input type="text" class="form-control" name="patientName" placeholder="Enter Patient Full Name" value="{{patient.patientName}}">
  </div>

{{!-- patient age --}}
  <div class="form-group">
    <label for="exampleInputEmail1">Age</label>
    <input type="Number" class="form-control" name="age" placeholder="Enter Patient age" value="{{patient.age}}">
  </div>

{{!-- patient gender --}}
<div class="form-group">
  <label for="exampleInputEmail1">Select Gender</label><br>
  <input  type="radio" name="gender"  value="male">
  <label class="form-check-label" for="exampleRadios1">
    Male
  </label><br>
  <input  type="radio" name="gender" value="female">
  <label class="form-check-label" for="exampleRadios1">
    Female
  </label>
</div>

{{!-- blood group --}}
<div class="form-group">
    <label for="exampleInputEmail1">Blood Group</label>
    <input type="text" class="form-control"  name='bloodGroup' placeholder="Enter Patient blood group" value="{{patient.bloodGroup}}">
  </div>

{{!-- patient contact number --}}
<div class="form-group">
    <label for="exampleInputEmail1">Patient contact Number</label>
    <input type="tel" class="form-control" name="contactNumber" placeholder="Enter Patient contact number" value="{{patient.contactNumber}}">
  </div>

  {{!-- address --}}

  <div class="form-group">
    <label for="exampleInputEmail1">Address / city / villege</label>
    <input type="text" class="form-control" name="address" placeholder="Enter Patient Address or city or villege" value="{{patient.address}}">
  </div>

  {{!-- referred by doctor --}}
    <div class="form-group">
    <label for="exampleInputEmail1">Reefered by which Doctor</label>
    <input type="text" class="form-control" name="refferedDoctor"  placeholder="Enter Referred doctor full name" value="{{patient.refferedDoctor}}">
  </div>

   {{!-- contect during emergency --}}
    <div class="form-group">
    <label for="exampleInputEmail1">Contect during Emergency</label>
    <input type="text" class="form-control" name="emergencyPersonName" placeholder="Enter emergency contact person name" value="{{patient.emergencyPersonName}}">
    <input type="text" class="form-control" name="emergencyPationtRelation" placeholder="Enter retation to patient" value="{{patient.emergencyPationtRelation}}">
    <input type="tel" class="form-control" name="emergencyContactNumber" placeholder="Enter contact number" value="{{patient.emergencyContactNumber}}">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="/patientRegistration/list"><i class="fa fa-list-alt"></i> View All Patient List</a>
</form>